/*.img
/*.apk
/initramfs/bin/bash
/initramfs/bin/busybox
/initramfs/bin/kexec
/initramfs-*
/build
/dtbs
/src/linux-rockchip
/src/u-boot
/src/arm-trusted-firmware
/src/kexec-tools
/src/bash
/*.scr
/*.dtb
/*.img.xz
/*.gz
/*.bin
/*.tar.bz2
